{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="teal lighten-5">
<div class="container teal lighten-4">
<nav>
    <div class="nav-wrapper teal lighten-2">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'team_create' %}">Add a Team</a></li>
        <li><a href="{% url 'team_list' %}">All Teams</a></li>
        <li><a href="{% url 'topic' %}">Create a New Rant</a></li>
        <li><a href="{% url 'topic_list' %}">All Rants</a></li>

        {% else %}
        <li><a href="{% url 'signup' %}">Signup</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
</nav>
{% block content %}
{% endblock %}
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>